h1{
    text-align:center;color:blue;text-transform: uppercase;
    background-color: bisque;
}
h3{
    text-align: right;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fbackground%2F&psig=AOvVaw17sqMUXkch9GJjxMaE4ZZI&ust=1605793790298000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOjajJ-ejO0CFQAAAAAdAAAAABAD");
    background-repeat: repeat-y;
    background-position: center;
}
.Heading{
    font-size:40px;
    color:grey;
}